/* screen-reader preset for accessibility */
 
 .header-screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 1px;
}

/* beginning of my CSS */

* {
  box-sizing: border-box;
  max-width: 2880px;
}

body {
  font-family: "OpenSans-Light", serif;
  font-size: 16px;
  color: #ffffff;
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 9em;
  margin-bottom: 5em;
}

.nyt-logo {
  width: 60%;
}

select {
  color: black;
  background-color: white;
  width: 7.7em;
  font-weight: 600;
  padding-left: .5em;
  top: 1em;
  bottom: 1em;
}

.stories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.story-cell {
  width: 100%;
  padding-top: 80%;
}

.story-text {
  width: 100%;
  height: 5em;
  margin-bottom: .8em;
  padding-left: .5em;
  line-height: 1.4em;
  background-color: rgba(0, 0, 0, 0.089)
}

footer {
  text-align: center;
  margin-top: 9em;
  margin-bottom: 4em;
  font-weight: 500;

}

@media screen and (min-width: 600px) {
 
}

@media screen and (min-width: 1000px) {
 
}