/* screen-reader preset for accessibility */
 
 .header-screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 1px;
}

/* beginning of my CSS */

* {
  box-sizing: border-box;
  max-width: 2880px;
  font-size: 16px;
  color: #ffffff;
  background-color: black;
}

body {
  font-family: "OpenSans-Light", serif;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.nyt-logo {
  width: 60%;
}

select {
  color: black;
  background-color: white;
  width: 6em;
}

@media screen and (min-width: 600px) {
 
}

@media screen and (min-width: 1000px) {
 
}