@import 'partials/normalize';
@import 'partials/mixins';
//@import 'partials/variables';
@import 'partials/typography';

/* screen-reader preset for accessibility */
 
.header-screen-reader {
  @include header-screen-reader();
}

* {
  box-sizing: border-box;
  max-width: 2880px;
  min-width: 128px;
}

body {
  font-family: "OpenSans-Light", serif;
  font-size: 16px;
  color: #ffffff;
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 90vh;
  @include transition();
  .nyt-logo {
    width: 70%;
    max-width: 14em;
    @include transition();
    @include phablet {
      width: 220px;
      height: 220px;
      max-width: 220px;
    }
  }
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

select {
  color: black;
  background-color: white;
  width: 7.7em;
  font-weight: 600;
  padding-left: .5em;
  top: 1em;
  bottom: 1em;
}

.stories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  @include phablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .story-cell {
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    @include phablet {
      width: 50%;
    }
    .story-text {
      width: 100%;
      position: absolute;
      bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      @include padding(.5em, .6em, .6em, .5em);
      line-height: 1.4em;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

footer {
  text-align: center;
  margin-bottom: 2em;
  font-weight: 500;
  width: 100%;
}
