@import 'partials/normalize';
@import 'partials/mixins';
//@import 'partials/variables';
@import 'partials/typography';

/* screen-reader preset for accessibility */
 
 .header-screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 1px;
}

/* beginning of my CSS */

* {
  box-sizing: border-box;
  max-width: 2880px;
  @include small-screen {
    font-size: 10px;
  }
  @include micro-screen {
    font-size: 8px;
  }
  @include nano-screen {
    font-size: 6px;
  }
}

body {
  font-family: "OpenSans-Light", serif;
  font-size: 16px;
  color: #ffffff;
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15em;
  margin-bottom: 5em;
  .nyt-logo {
    width: 70%;
    max-width: 14em;
  }
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

select {
  color: black;
  background-color: white;
  width: 7.7em;
  font-weight: 600;
  padding-left: .5em;
  top: 1em;
  bottom: 1em;
  .select-container & {
    @include tablet {
      margin-top: 4em;
      margin-left: 2em;
    }
  }
}

.stories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  @include phablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .story-cell {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    position: relative;
    @include phablet {
      width: 50%;
      padding-top: 60%;
    }
    .story-text {
      width: 100%;
      position: absolute;
      bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: .6em;
      padding-left: .5em;
      padding-right: .6em;
      padding-top: .5em;
      line-height: 1.4em;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

footer {
  text-align: center;
  margin-top: 10em;
  margin-bottom: 3em;
  font-weight: 500;
}
