{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "no-alert": 1,
    "camelcase": 1,
    "curly": 1,
    "eqeqeq": 1,
    "no-console": 1,
    "guard-for-in": 1,
    "no-empty": 1,
    "no-param-reassign": 1,
    "no-unused-vars": 1,
    "quotes": [ 1, "single"]
},
  "globals": {
    "jQuery": false,
    "$": false
  },
  "env": {
    "browser": true
  }
}
