# Ignore system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
#ignore example images
instanews-desktop-initial.png
instanews-desktop-photos.png
instanews-mobile-initial.png
instanews-mobile-photos.png
instanews-tablet-initial.png
instanews-tablet-photos.png
design/*
src/sass/style_original.css
package-lock.json
# Ignore packages #
# =============== #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore packages #
# =============== #
node_modules/

# Ignore API Keys
# apikeys
