$desktop-width: 1000px;
$tablet-width: 600px;
$phablet-width: 480px;

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin phablet {
  @media (min-width: $phablet-width) {
    @content;
  }
}

@mixin padding($top, $bottom, $right, $left) {
  padding-top: $top;
  padding-bottom: $bottom;
  padding-right: $right;
  padding-left: $left;
}

@mixin margin($top, $bottom, $right, $left) {
  margin-top: $top;
  margin-bottom: $bottom;
  margin-right: $right;
  margin-left: $left;
}

@mixin header-screen-reader() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 1px;
}